.home {
  display: flex;
  justify-content: space-between;
}

.home-profiles {
  margin: 50px auto;
}

.sidebar {
  height: 100%;
  width: 100px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-button-container {
  margin: 15px;
}

.profile-container {
  border: 1px solid grey;
  margin-bottom: 10px;
}

button {
  border: none;
}

.sidebar-profile-selected {
  font-weight: bold;
}
